apiVersion: apps/v1
kind: Deployment
metadata:
  name: udc-redis
  namespace: udc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: udc-redis
  template:
    metadata:
      labels:
        app: udc-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          args:
            - redis-server
            - --save
            - ""
            - --appendonly
            - "no"
            - --maxmemory
            - 1gb
            - --maxmemory-policy
            - allkeys-lru
            - --tcp-backlog
            - "511"
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: udc-redis
  namespace: udc
spec:
  selector:
    app: udc-redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
